h1= title
p Welcome to #{title}


a(href="add") Add a Party to the List
br
br
br
h4 Parties : 
ul
        each party, i in parties
            li
                a(href="")= party.name+"----SCORE : "
                a(href="")= party.score
