!!! 5
html
  head
    title Signup
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.css')
    script(src='http://code.jquery.com/jquery-1.8.3.min.js')
    script(src='http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.js')
  body
    div(data-role='page')
      div(data-role='header')
        h1 Signup
      //
         /header 
      div(data-role='content')
        form(action='/signup', data-transition='slide', method='post')
          .ui-hide-label(data-role='fieldcontain')
            label(for='username') Username:
            input#username(type='text', name='username', value='', placeholder='Username')
          .ui-hide-label(data-role='fieldcontain')
            label(for='email') Email:
            input#email(type='text', name='email', value='', placeholder='Email')
          .ui-hide-label(data-role='fieldcontain')
            label(for='password1') Password:
            input#password1(type='password', name='password1', value='', placeholder='Password')
          .ui-hide-label(data-role='fieldcontain')
            label(for='password2') Password:
            input#password2(type='password', name='password2', value='', placeholder='Password')
          input(type='submit', value='Create Account')
        a(data-transition='slide', href='/', data-role='button') Already have an account?
      //
         /content 
      div(data-role='footer')
        h4 Selfie App
      //
         /footer 
    //
       /page 
