!!! 5
html
  head
    title= _USERNAME+' Profile'
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.css')
    script(src='http://code.jquery.com/jquery-1.8.3.min.js')
    script(src='http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.js')

      
  body

    div(data-theme='b', data-role='page')
      div(data-theme='b', data-role='header')
        a.ui-btn-left(href='/logout', data-transition='slide', data-direction='reverse' , data-theme='b') Log Out
        h1= _USERNAME
        a.ui-btn-right(href='/#', data-icon='grid', data-role='button', data-iconpos='notext', data-theme='b')  
      //
         /header 
      div(data-role='content' , style= 'text-align :center')
        form(action='/uploadPhoto' , id='fileUploadForm' , method='post' , enctype="multipart/form-data")
          input(type='file' , accept='image/*' , capture='camera', id='fileUploadInput' , onchange='this.form.submit()' , name='photo')
        div(id='currentImage')
          img(src='https://pbs.twimg.com/profile_images/2800360366/5190757a586da1191dc032d4aade7189.jpeg')
      //
         /content 
      div(data-role='footer', data-id='foo1', data-position='fixed')
        div(data-role='navbar')
          ul
            li
              a(href='/myphotos', data-transition='slide') My Photo
            li
              a(href='/account', data-transition='slide') My Account
        //
           /navbar 
      //
         /footer 
    //
       /page 
